* {
  box-sizing: border-box;
  color: white;
}

body {
  background: rgb(0, 0, 5); /*probably change from black later*/
}

#nav-bar {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#nav-bar ul {
  display: flex;
  list-style: none;
}

#nav-bar a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

#nav-bar a:hover {
  text-decoration: underline;
}
